.header {
  background: #f8f9fb 0% 0% no-repeat padding-box;
  opacity: 1;
}
ul {
  list-style-type: none;
}
.logo {
  position: absolute;
  size: 32px;
  top: 58px;
  left: 80px;
  width: 197px;
  height: 32px;
  background: transparent url('images/DREAMJOB..png') 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.home {
  position: absolute;
  top: 65px;
  left: 357px;
  width: 50px;
  height: 18px;
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal normal 18px/22px Inter;
  letter-spacing: 0.72px;
  color: #181818;
  opacity: 1;
}
.butn {
  border-radius: 32px !important;
}
.bulla {
  border-radius: 52px !important;
}
.btn-primary :hover {
  border: 2px solid #0f47c0 !important;
}
.wave {
  top: 137px;
  left: 80px;
  width: 77px;
  height: 36px;
  background: transparent url('images/Group 6002.png') 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.head-para {
  width: 854px;
  height: 200px;
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal bold 86px/122px Inter;
  letter-spacing: 1.2px;
  color: #181818;
  opacity: 1;
}
.head-para-l {
  top: 521px;
  left: 150px;
  width: 679px;
  height: 62px;
  text-align: left;
  font: normal normal normal 26px/36px Inter;
  letter-spacing: 0.52px;
  color: #747474;
  opacity: 1;
}
.head-pic {
  box-shadow: -43px 30px 29px #00000029;
  opacity: 1;
}
.cont {
  max-width: 98%;
}
.com-box {
  position: absolute;
  top: 600px;
  left: 255px;
  width: 70%;
  height: 180px;
  background: white url('images/Rectangle 527.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 80px #7474741a;
  border-radius: 20px;
  opacity: 1;
}
.com-im {
  position: absolute;
  align-self: center;
  top: 60px;
  left: 80px;
  width: 900px;
  height: 50px;
  background: transparent url('images/Group 5999.png') 0% 0% no-repeat
    padding-box;
  opacity: 0.5;
}
.body {
  padding-top: 10%;
}
.bold {
  color: var(--unnamed-color-181818);
  text-align: center;
  font: normal normal bold 60px/72px Inter;
  letter-spacing: 0.84px;
  color: #181818;
  opacity: 1;
}
.card-im {
  float: left;
  align-self: baseline;
  padding-top: 5%;
  padding-left: 5%;
}
.icon-i {
  background: transparent url('images/Rectangle 1071.png') 0% 0% no-repeat
    padding-box;
  border-radius: 20px;
  opacity: 1;
}
.text-grey {
  color: gray;
}
.card-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 20px #7474741a;
  opacity: 1;
  margin-top: 3%;
}
.card-box:hover {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 30px 40px #74747440;
  border-radius: 20px;
  opacity: 1;
  margin-top: 2%;
}
.n-body {
  background: #f6f7f9 0% 0% no-repeat padding-box;
  opacity: 1;
}
.n-head {
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal bold 80px/96px Inter;
  letter-spacing: 1.12px;
  color: #181818;
  opacity: 1;
}
.rect {
  border-radius: 20px;
  opacity: 1;
}
.n-pad {
  padding-top: -1% !important;
}
.shape {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.36;
}
.el {
  background: transparent url('images/Ellipse 588.png') 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.img-bg {
  background: url('images/Ellipse 588.svg') 0% 0% no-repeat center center fixed;
}
.t-head {
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal bold 80px/100px Inter;
  letter-spacing: 1.12px;
  color: #181818;
  opacity: 1;
}
.t-n {
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal normal 32px/38px Inter;
  letter-spacing: 0.45px;
  color: #181818;
  opacity: 1;
}
.t-t {
  color: var(--unnamed-color-181818);
  text-align: left;
  font: normal normal normal 22px/26px Inter;
  letter-spacing: 0.31px;
  color: #181818;
  opacity: 0.5;
}
.t-c {
  text-align: left;
  font: normal normal normal 22px/33px Inter;
  letter-spacing: 0.44px;
  color: #747474;
  opacity: 1;
}
